
<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>&nbsp;</p>

    <!-- button one -->
    <ion-button [routerLink]="['/person']" color="secondary" class="vertical-button" style="text-align: left; padding: 0 15px 0 15px;">
      <ion-icon slot="start" name="star"></ion-icon>
      <div class="btn-text">
        <h4>Person</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    </ion-button>

    <!-- button two -->
    <ion-button color="secondary" class="vertical-button" style="text-align: left; padding: 0 15px 0 15px;">
      <ion-icon slot="start" name="star"></ion-icon>
      <div class="btn-text">
        <h4>Button Two</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    </ion-button>

    <!-- button three -->
    <ion-button color="secondary" class="vertical-button" style="text-align: left; padding: 0 15px 0 15px;">
      <ion-icon slot="start" name="star"></ion-icon>
      <div class="btn-text">
        <h4>Button Three</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    </ion-button>

    <!-- button four -->
    <ion-button color="secondary" class="vertical-button" style="text-align: left; padding: 0 15px 0 15px;">
      <ion-icon slot="start" name="star"></ion-icon>
      <div class="btn-text">
        <h4>Button Four</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
    </ion-button>

    
  </div>

</ion-content>
